<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item >
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="DDDD DD/MM/YYYY" [(ngModel)]="myDate" placeholder="Introduce una fecha"></ion-datetime>
  </ion-item>
  <button ion-button block (click)="mostrar()">MOSTRAR FECHA</button>

  <ion-list>
		<ion-item class="text" *ngFor="let item of items | async">
			{{item | json}}
		</ion-item>
	</ion-list>
</ion-content>
